.candidate-main{
    background-color: white;
    color:gray;
    height: 100vh;
    /* width: 90%; */
    /* background-color: aqua; */
}
.candidate-container{
    /* background-color: aqua; */
    padding: 20px;
    height: 87vh;
    
    /* border: 1px solid green; */
    /* border: 1px solid red; */
}
.card-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 1px solid black; */
    /* width: 1500px; */
}
.candidate-card{
    /* background-color: gray; */
    background: #103662;
    /* width: 90%; */
    border: 1px solid red;

box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 6px rgba(16, 24, 40, 0.06);
    color: whitesmoke;
    /* display: inline-block; */
    width: 30%;
    padding: 10px 10px;
    /* margin-top: 5%; */
    border-radius: 6px;
    margin: 20px;
    /* font-size: .80em; */
    
}
.candidate-header{
    display: flex;
    justify-content: space-between;
    font-size: larger;
    font-weight: 600;
}
.candidate-body{
    display: grid;
    grid-template: 20% 20% / 2fr 1.5fr ;
    gap:10px 40px;

    font-size: 0.70em;
    margin-top: 2%;
    /* margin: auto; */
    padding: 8px;
    /* border: 1px solid white; */
    /* padding: auto; */
    /* line-height: 25px; */
}
.candidate-card label{
    font-size: 0.89rem;
    font-weight: bold;
}
.candidate-body p{
    font-size:.75rem;
    color: whitesmoke;
}

.candidate-resume{
    margin-top: 4px;
    text-align: center;
}
.candidate-resume label{
    font-weight: 600;
    font-size: 19px;
}
.candidate-resume h3{
    background-color: crimson;
    padding: 5px;
    border-radius: 4px;
    text-align: center;
}
.added-candidate-view{
     background-color: crimson;
    padding: 5px;
    border-radius: 4px;
    text-align: center;
}
.candidate-footer{
    height: 6.6vh;
    background-color:whitesmoke;
    /* display: flex;
    justify-content: flex-end; */
    
}
.candidate-footer button{
    display: inline-block;
    border: none;
    width: 20%;
    padding: 10px;
    align-items: center;
    background-color: #103662;
    color: whitesmoke;
    font-size: large;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    
}
.candidate-button{
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 6.6vh;
    padding: 10px;
    /* cursor: pointer; */
    /* background-color:#103662 ; */
}
.candidate-search{
    width: 100%;
    padding: 18px;
    border: none;
    outline: none;
    border-radius: 6px;
    font-size: larger;
    color: gray;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: 1px 5px 15px 0px rgba(0, 0, 0, 0.2);
}