body {
  /* background: linear-gradient(105.42deg, #1c5eaa 20.61%, #4698f6 116.17%); */
  background-color: white;
  padding: 0;
  margin: 0;
  /* font-family: 'Inter', sans-serif; */
  font-family: 'Poppins', sans-serif;

}

.form {

  height: 100vh;
  /* border: 2px solid black; */
}

.body-header {
  text-align: center;
  margin-top: 20px;
  color: white;
  /* width: 535px; */
  /* border: 1px solid red; */
}

.container {
  display: flex;
  /* padding: 5px 10px; */
}

.form-dashboard {
  /* border: 1px solid green; */
  height: 86vh;
  width: 75%;
  padding: 2px 15px;
}

.added-candidate {
  /* border: 1px solid red; */
  height: 86vh;
  width: 25%;
  /* background-color: #F2F8FE; */
  padding: 10px;
  /* border-radius: 8px; */
}
.added-candidate-container{
  background-color: #F2F8FE;
  padding: 10px;
  border-radius: 8px;
  height: 83vh;
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
}

.form-header span {
  color: gray;
}

.form-buttons {
  margin: 2px;

}

.form-buttons button {
  margin: 5px;
  cursor: pointer;
}

.reset {
  background-color: white;
  padding: 8px 12px;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 6px;
}

.reset:hover {
  background-color: rgb(239, 236, 236);
  transition: ease-in-out 100ms;
  /* color: bla; */
}

.add {
  background-color: #206DC5;
  padding: 8px 12px;
  border: none;
  outline: none;
  border-radius: 6px;
  color: white;
}

.add:hover {
  background-color: #186ac7;
}

.email-icon {
  position:fixed;
  align-items: center;
  margin-top: 4px;
  color: gray;
  font-size: larger;
  margin-left: 10px;
  /* border: 1px solid green; */
  /* display: inline; */
  /* margin-right: 10px; */
}

.form-input{
  /* border: 1px solid red; */
   box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
   border-radius: 6px;
   padding: 3px;
   width: 100%;
   margin-top: 6px;
   background-color: white;
}
.row{
  display: grid;
  grid-template: 60px 60px / 1fr 1fr;
  gap:12px 25px;
}
.form-input input{
  width: 100%;
  padding: 6px;
  font-size: .75rem;
  border: none;
  outline: none;
  color: gray;
  background-color: white;
}


.form-input select{
  width: 100%;
  padding: 7px;
  font-size: .75rem;
  border: none;
  outline: none;
  color: gray;
}
.email-input{
  margin-left: 30px;
  width: 94% !important;
  border-radius: 3px;
}
.form-general h4{
  margin-bottom: 1.3%;
}
.form-general{
  /* border: 1px solid green; */
  padding: 12px 15px;
  background-color: #EAECF0;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 6px;
  margin-top: 5px;
  margin-bottom: 15px;
}
.form-input-CurType{
   /* width: 70%; */
  padding: 2px;
  font-size: .75rem;
  border: none;
  outline: none;
  color: gray;
  /* border: 1px solid red; */
  display: inline-block;
  background-color: white;
  border-radius: 6px;
  margin-top: 7px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.form-input-CurType select{
    /* width: 100%; */
  padding: 5px;
  font-size: .75rem;
  border: none;
  outline: none;
  color: gray;
}
label{
  font-size:small;
  
}
.error{
  color: red;
  font-size: small;
  /* border: 1px solid red; */
}
.file-error{
  color: red;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
}
.file-warning{
  color: red;
  font-weight: 600;
  font-size: larger;
}
.file-value{
  color: green;
  display: flex;
  justify-content: center;
  font-size: large;
  font-weight: 600;
}
.each-item{
  width: 100%;
  background-color: #103662;
  height: 80px;
  border-radius: 6px;
  border: none;
  outline: none;
  color: white;
  padding: 8px;
  margin-top: 6px;
}
.each-item-header-container{
  display: flex;
  justify-content: space-between;
}
.added-candidate-header{
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
  align-items: center;
  font-size: .95rem;
  
}
.clear-all{
  background-color: #186ac7;
  border: none;
  color: white;
  padding: 6px 5px;
  border-radius: 4px;
  width: 110%;
  cursor: pointer;
  font-size: .75rem;
}
.added-candidate-card{
  padding: 8px;
}
.each-item-delete{
  cursor: pointer;
}
.id{
  margin-top: 5px;
  color: white;
  font-size: .70rem;
}
.form-file{
  /* background-color: #186ac7; */
  /* border: 1px solid black; */
  box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 6px rgba(16, 24, 40, 0.06);
  border-radius: 8px;
  width: 100%;
  padding: 10px;
}

.file-info{
  display: flex;
  justify-content: space-around;
  /* border: 1px solid green; */
  align-items: center;
  width: 38%;
  margin: auto;
  padding: 4px 6px;
  cursor: pointer;
}
.drag-color{
  color: #344054;
  font-weight: 600;
  margin-bottom: 5px;
}
.drag-color span{
  color: #206DC5;
  font-weight: 600;
  font-size: large;
}
.pdf-info{
    color: #344054;
    font-weight: 400;
    font-size: 12px;
}
.file-top{
  color: #344054;
  font-weight: 500;
  font-size: 14px;
  /* border: 1px solid yellow; */
  display: flex;
  justify-content: center;
}
