.footer{
    /* bottom: 0; */
    /* margin-top: 86.5vh; */
    padding: 10px 15px;
     background-color: whitesmoke;
    width: 100%;
    height: 50px;
   
    display: flex;
    justify-content: flex-end;
}
.footer-button{
    display: block;
    width: 110px;
    border: none;
    outline: none;
    background-color: #185294;
    color: whitesmoke;
    border-radius: 4px;
    cursor: pointer;
}
:disabled{
    background-color: white;
    color: rgb(86, 85, 85);
    cursor: no-drop;
}